.tcgplayer__data.tcgplayer__data {
	display: table;
	width: 100%;
	text-align: center;
}

.tcgplayer__data.tcgplayer__data caption {
	display: table-caption;
	text-align: center;
}

.tcgplayer__data--row > td::before {
	content: '$';
}

.tcgplayer--hidden {
	display: none;
}
